body {
  background: #FFFFFF;
  font-family: 'Arial', sans-serif;
  color: #77848D;

  div.wrapper {
    position: relative;
    width: 100%;
  }

  header {
    width: 100%;
    margin-top: 5vh;
    font-size: 55px;
    color: #45484C;
    letter-spacing: 1.62px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    @include media("<tablet") {
      font-size: 35px;
    }

    span:first-child {
      @include media("<tablet") {
        margin-bottom: 30px;
      }
    }

    span {
      margin-left: 3vw;
      margin-right: 3vw;
      @include media("<tablet") {
        margin-top: 30px;
      }
    }

    .logo {
      position: absolute;
      top: 5vh;
      left: 50%;
      margin-left: -25px;
      @include media("<tablet") {
        position: static;
        width: 21%;
        margin-top: 1vh;
        margin-right: 34px;
        float: right;
      }
    }
  }

  .container {
    width: 100%;
    text-align: center;
    padding: 30px;
  }

  input {
    @include media("<tablet") {
      width: 100%;
    }
    padding-left: 35px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 50%;
    border: 1px solid #77848D;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.14), 0px 3px 8px 0px rgba(0,0,0,0.23);
    border-radius: 4px;
    font-size: 14.5px;
    color: #394147;
    letter-spacing: 0.5px;
    line-height: 22px;
    i {
      background: #A6B1C0;
    }
  }

}
