<header>
  <span>Daria's</span>
  <img class="logo" src="img/logo.svg" />
  <span>Sweets</span>
</header>
<nav class="filter">
  <div class="wrapper">
    <div class="filter-option" ng-click="sort(option.name)" ng-class="{'selected': option.selected, 'vegan-option': option.name === 'vegan'}" ng-repeat="option in filterOptions">
      {{option.name}}
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <div class="wrapper">
      <img src="img/search-icon.svg" class="search-icon"/>
      <input type="search" placeholder="Search" class="center" ng-change="search()" ng-model="searchBar.query"/>
    </div>
    <ul class="menu cf">
      <li ng-repeat="item in searchResults" class="menu-item fl w-100 w-50-ns tc">
        <div class="wrapper">
          <div class="product-details">
            <span class="product-title">{{item.name}}</span>
            <span ng-if="item.is_vegan" class="vegan">V</span>
            <div class="price">${{item.price}}.00</div>
            <span class="product-description">{{item.description}}</span>
          </div>
          <img ng-src="{{item.image_url}}" class="product-image" height="100%"/>
        </div>
      </li>
    </ul>
  </div>
</main>
